@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
	background-color: #e63946;
	margin: auto;
	padding: auto;
}

p {
	text-indent: 2em;
}

h1 {
	font-family: 'Syne Mono', monospace;
	font-size: 30px;
}

#contato {
	padding: 100px;
	right: 200px;
}

#uma {
	position: absolute;
	left: 800px;
	padding: 10px;
	font-family: 'Noto Sans JP', sans-serif;
}

#foto {
	padding: 20px;
	border: transparent;
	width: 40%;
	position: relative;
}

#corpo {
	position: absolute;
	left: 50px;
	padding: 5px;
}


	.nav_tabs{
		width: 700px;
		height: 200px;
		margin: 0px auto;
		background-color: #e63946;
		position: absolute;
	}

	.nav_tabs ul{
		list-style: none;
	}

	.nav_tabs ul li{
		float: left;
	}

	.tab_label{
		display: block;
		width: 100px;
		background-color: #363b48;
		padding: 10px;
		font-size: 20px;
		color:#fff;
		cursor: pointer;
		text-align: center;
	}


	.nav_tabs .rd_tab { 
	display:none;
	position: absolute;
}

.nav_tabs .rd_tab:checked ~ label { 
	background-color: #e63946;
	color:#fff;}

.tab-content{
	border-top: solid 10px #e54e43;
	background-color: #fff;
	display: none;
	position: absolute;
	height: 700px;
	width: 650px;
	left: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;	
}

.rd_tab:checked ~ .tab-content{
	display: block;
}
.tab-content h2{
	padding: 15px;
	color: #e63946;
	text-decoration: underline;
}
.tab-content article{
	padding: 10px;

} 

